@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 2px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 5px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

*{
  font-family: "Outfit", serif;
}

body{
  background: #fff;
  overflow-x: hidden;
}

.slick-track{
  display: flex !important;
  gap: 2rem;
}

.ourteam-slider .slick-track , .SectorImgsPreview .slick-track{
  gap:0;
}


.iti__tel-input{
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgb(236 236 238);
  padding-left: .75rem;
  padding-right: .75rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 16px;
  outline: none;
}